*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
   
}



section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(40deg, rgba(241, 241, 241, 0.971) 21%, rgba(215, 221, 219, 0.923) 52%,rgba(215, 221, 219, 0.923) 65%, rgba(1,113,67,0.9766281512605042) 65%);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #logo{
    position: relative;
    max-width: 80px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

#menu-h{
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-decoration: none;
    color: #333;

}

#menu-h a{
    color: rgb(255, 255, 255);
    
    
}

#menu-h a:hover{
    border-bottom: 1px solid  rgba(241, 241, 241, 0.971);
    padding-bottom: 5px;
}

#conteudo{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

#conteudo #tetoCaixa{
    position: relative;
    max-width: 600px;
}

#textoCaixa h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 00;
}

#starbucks{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

#conteudo p{
    color: #333;  
}

#conteudo a{
    display: inline-block;
    margin-top: 20px;
    padding: 18px;
    background-color: #017143;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

#conteudo a:hover{
    background-color: #00643a;
}

#conteudo #produto{
    position: relative;
    display: flex;

}



#fotos{
    position: absolute;
    bottom: 20%;
    transform: translateX(-50%);
    cursor: pointer;
    right: -400px;

}

#fotos li img{
    height: 100px;
    padding: 10px;
    box-shadow: 1px 1px 100px 10px #009657;
    border-radius: 30px;
}

#fotos li:hover{
    border: 2.5px solid #333;
    border-radius: 30px;
}


@media (min-width: 600px){
    body{
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100vh;
    }

    #fotos{
        display: none;
    }

}


@media (min-width: 1025px){
    body{
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100vh;
    }

    #fotos{
        display: none;
    }

}


@media (min-width: 1090px){
    body{
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100vh;
    }

    #fotos{
        display: none;
    }

}


@media (max-width: 600px){
   
    #conteudo{
        margin-top: -75px;
    }

    #menu-h{
        display: flex;
        margin-left: 95px;
    }

    #logo{
       width: 80px;
    }

    #textoCaixa{
        display: inline-block;
        text-align: left;
        margin-right: 100px;
    }

   #textoCaixa h2{
    font-size: 35px;
   }

   #textoCaixa p{
    display: none;
   }

   #textoCaixa a{
    margin-left: 30px;
   }

   #fotos{
    display: none;
   }

   #fotoCaixa{
    display: none;
    margin-top: 90px;
   }

   #produto{
    margin: 0;
    left: 0;
   }

}

@media (max-width: 360px)
{

    body{
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100vh;
    }

    #textoCaixa h2{
        font-size: 30px;
    }

    #textoCaixa a{
        margin-left: 20px;
    }
}

@media (max-width:680px), (max-width:1000px){
    

    body{
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100vh;
    }

    #textoCaixa h2{
        margin-top: 120px;
    }

    #starbucks{
        color: #333;
    }

    #textoCaixa p{
        display: none;
    }

  #conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }



  #produto {
    width: 100%;
    margin: 0;
    left: 0px;
  }

  #fotoCaixa{
    display: flex;
    width: 300px;
 
  }

}

@media (min-width:300px){}
    

    body{
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100vh;
    }

@media (min-width:1000px){
   
    body{
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100vh;
    }
   
    #fotos{
        display: inline-block;
        flex-wrap: wrap;
    }
}
